@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;600&display=swap');

@font-face {
    font-family: 'dot_matrixbold';
    src: url('../Fonts/dotmbold-libre_de_droit-webfont.woff2') format('woff2'),
         url('../Fonts/dotmbold-libre_de_droit-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'font_fabriqueregular';
    src: url('../Fonts/fontfabrique-regular-la_fabrique-webfont.woff2') format('woff2'),
         url('../Fonts/fontfabrique-regular-la_fabrique-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'dot_matrixregular';
    src: url('../Fonts/dotmatri-libre_de_droit-webfont.woff2') format('woff2'),
         url('Fonts/dotmatri-libre_de_droit-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

:root {
    --main-color: black;
    --sec-color: #464646;  /* dark gray */
    --ter-color: white;
    --quad-color: #ff0070;  /* neon pink */
    --quint-color:  #00ff89;    /* neon green */
    --txt-color: rgb(54, 54, 54);
}

body {
    height: 100%;
    margin: 0;
    background-color: var(--sec-color);
    font-family: 'font_fabriqueregular';
}

header {
    margin: 0 0 20px 0;
    padding: 1px;
    background-color: var(--main-color);
    color: white;
    text-align: center;
    font-family: 'font_fabriqueregular';
    font-size: larger;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.295);
}

#logos {
    margin-top: 5px;
}